
.had{
    text-align: center;
}

.main div{
    width: 35%;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main button{
    width: 197px;
    height: 49px;
    border-radius: 30px;
    border: 2px solid  #458FF6;
    background-color: rgb(243, 245, 248);
    color:  #458FF6;
}

button:active{
    background-color: #458FF6;
    color: white;
    border: none;
}

.het{
    text-align: center;
}

.main2 div{
    width: 380px;
}

a{
    color: blue;
    text-decoration: none;
}

.main2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mal{
    background-color: aliceblue;
    height: 450px;
    border-radius: 20px;
}


footer{
 justify-content: space-around;
    display: flex;
background-color: #67C3F3;
height: 432px;
align-items: center;
color: white;
}

.bir{
    width: 386px;
    margin-top: 20px;
}

li{
    list-style: none;
}

footer a{
color: white;
}























































